build/
build_ap/
build_en/
build_zh/
install/
tmp/
work_dir/
._*
.DS_Store
__pycache__
python/transform/tflite
python/debugger/soc_tools/tmp_cache
regression_op_log/
regression_out/
tags
.vscode/
.VSCodeCounter/
onnx_test_*/
torch_test_*/
tpulang_test_*/
.cache
*.xlsx
bmodel_fbs.py
.ipynb_checkpoints/
cross_toolchains/
dist/
!/python/tools/soc_infer/debugger/bmodel_fbs.py
