build/
build_en/
build_zh/
install/
tmp/
work_dir/
._*
.DS_Store
__pycache__
python/transform/tflite
regression_out/
tags
.vscode/
.VSCodeCounter/
onnx_test_bm1686/
onnx_test_bm1684x/
onnx_test_bm1684/
onnx_test_cv183x/
torch_test_bm1686/
torch_test_bm1684x/
torch_test_bm1684/
torch_test_cv183x/
.cache
third_party/llvm/bin/clang
third_party/llvm/bin/clang++
third_party/llvm/bin/clang-17
*.xlsx
