argcomplete==3.1.1
build==1.0.3
Cython==3.0.0
dash==2.11.1
dash-bootstrap-components==1.4.2
dash_cytoscape==0.3.0
dash-draggable==0.1.2
dash-split-pane==1.0.0
dash-table==5.0.0
enum34==1.1.10
GitPython==3.1.32
graphviz==0.20.1
grpcio==1.56.2
ipykernel==6.24.0
ipython==8.14.0
jedi==0.18.2
Jinja2==3.1.2
jsonschema==4.18.4
jupyterlab==4.0.3
kaleido==0.2.1
leveldb==0.201
lit==16.0.6
lmdb==1.4.1
matplotlib==3.7.2
networkx==3.1
nose==1.3.7
numpy==1.24.3
onnx==1.14.1
onnxruntime==1.16.3
onnxsim==0.4.17
opencv-contrib-python==4.8.0.74
opencv-python-headless==4.8.0.74
packaging==23.1
paddle2onnx==1.0.8
paddlepaddle==2.5.0
pandas==2.0.3
paramiko==3.2.0
Pillow==10.0.0
plotly==5.15.0
protobuf==3.20.3
pybind11-global==2.11.1
pycocotools==2.0.6
pytest-xdist==3.3.1
python-dateutil==2.8.2
python-gflags==3.1.2
PyYAML==5.4.1
rst2pdf==0.100
scikit-image==0.21.0
scipy==1.11.1
six==1.16.0
Sphinx==6.2.1
sphinx-autobuild==2021.3.14
sphinx-rtd-theme==1.2.2
termcolor==2.3.0
tf2onnx==1.8.4
torch==2.1.0+cpu
torchaudio==2.1.0+cpu
torchvision==0.16.0+cpu
tqdm==4.65.0
transformers==4.51.1
twine==4.0.2
scikit-learn==1.6.1
onnxruntime_extensions==0.14.0
pydantic==2.11.3
ansible==10.7.0
loguru==0.7.3
pytest==8.3.5
pytest-timeout==2.3.1
openpyxl==3.1.5
diffusers==0.33.1
astunparse==1.6.3
flatbuffers==24.12.23
setuptools==59.6.0
tensorboard==2.13.0
wheel
